<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
    	<typeAlias type="com.netmusic.member.vo.NetMemberVO" alias="memberVO"/>
    	<typeAlias type="com.netmusic.login.vo.TempAuthNumVO" alias="authnumVO" />
    	<typeAlias type="com.netmusic.login.vo.TempPwVO" alias="pwVO" />
	</typeAliases>
</configuration>